body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  padding: 0.2em;
  margin: 0;
  font-size: 0.85em;
  background-color: #f7f7f7;
  color: #000;
}

span code {
  background-color: inherit;
  color: #f7f7f7;
}

img {
  max-width: 700px;
}

h2,
h3 {
  margin-top: 20px;
}

a {
  color: #4183c4;
  text-decoration: none;
  background: 0 0;
}

p {
  margin-top: 1em;
  margin-bottom: 0;
}

.alert {
  display: flex;
  margin-top: 10px;

  .icon {
    padding: 10px 10px 0 0;
  }

  .text {
    flex: 1;
  }
}

.alert p {
  margin-top: 0;
}

.token.tag {
  color: #e2777a;
}

.token.punctuation {
  color: #ccc;
}

.book {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.navigation {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  padding: 20px 30px 10px 10px;
  background: #fafafa;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  position: relative;
  max-width: 300px;

  .menu-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
  }

  .menu-button:hover {
    background-color: #ebebeb;
  }

  .menu-button:active {
    background-color: #e8e8e8;
  }

  a {
    color: #444;
    margin: 5px 0;
  }

  a.active {
    color: #4183c4;
  }
}

.content {
  flex: 1;
  height: 100vh;
  overflow: auto;
  padding-left: 20px;
}

.with-margin {
  margin-bottom: 50px;
}

.col div {
  margin-bottom: 10px;
}

.login {
  .title {
    margin-bottom: 30px;
  }

  .form {
    display: flex;
    flex-direction: column;

    .input {
      margin-bottom: 20px;
    }
  }
}
